{% extends "base.html" %}

{% load courses_tags %}

{% block content %}

  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {%block breadcrumb%}
             <li class="breadcrumb-item active" aria-current="page"><a href="{%url 'dashboard'%}">Home</a></li>
          {%endblock%}
        </ol>
      </nav>
      <div class="pure-menu pure-menu-open"> 
        <ul>
          {% load_my_courses user as enrollments%} <!-- Tag personalizada que recebe o user atual e retorna as incrições do usuário -->
          <a class="pure-menu-heading">Meus Cursos</a>
          {%for enrollment in enrollments%}
          <li><a href="#">{{enrollment.course}} </a></li>
          {%empty%} <!-- Se o for retornar vazio-->
          <li>Sem incrições em curso ainda</li>
          {%endfor%}
          <li class="pure-menu-heading"> Minha conta </li>
          <li><a href="{%url 'edit'%}">Editar Conta</a></li>
          <li><a href="{%url 'edit_password'%}">Editar senha </a></li>
        </ul>
      </div>
    </div>
    <div class="pure-u-2-3">
      <div class="inner ajustesInfo">
        {% block dashboard_content %}
        <div>
          <h2>Meu painel</h2>
          <p><strong>Seja bem vindo</strong> {{user.name}}</p>
          <p><strong>Usuário</strong>: {{user.username}}</p>
          <p><strong>E-mail</strong>: {{user.email}}</p>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}