{%extends "base.html"%}

{%block content%}

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe os seus dados de cadastro</h2>
            <form class="pure-form pure-form-aligned" method="POST">
                {%csrf_token%}
                <fieldset>
                    {{form.non_field_errors}}

                    {%for field in form%}
                    <div class="pure-control-group">
                        {{field.label_tag}}
                        {{field}}
                        <span class="pure-form-message" style="color: #8B0000"> <strong> {{field.errors}} </strong></span>
                    </div>
                    {% if form.is_valid%}
                    <strong> Usuário cadastrado com sucesso!</strong>
                    {%endif%}
                    {%endfor%}

                    <div class="pure-control">
                        <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                    </div>
                </fieldset>
                <p>Não é cadastrado? <a href="{%url 'register'%}" title=""> Cadastre-se</a> <br/>
                   Esqueceu a senha? <a href="" title=""> Nova senha </a>
                </p>
            </form>
        </div>
    </div>
{%endblock%}
