{%extends "base.html"%}

{%block content%}

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            {% if sucess %}
            <strong>Foi enviado um e-mail pra você com as instruções de como gerar uma nova senha</strong>
            {% else %}
            <h2>Informe os seus E-mail</h2>
            <form class="pure-form pure-form-aligned" method="POST">
                {%csrf_token%}
                <fieldset>
                    {{form.non_field_errors}}
                    {%for field in form%}
                    <div class="pure-control-group">
                        {{field.label_tag}}
                        {{field}}
                        <span class="pure-form-message" style="color: #8B0000"> <strong> {{field.errors}} </strong></span>
                    </div>
                    {%endfor%}
                    <div class="pure-control">
                        <button type="submit" class="pure-button pure-button-primary">Enviar senha</button>
                    </div>
                </fieldset>
                </p>
            </form>
            {% endif %}
        </div>
    </div>
{%endblock%}
