{%extends "base.html"%}

{%block content%}

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe os seus dados</h2>
            <form class="pure-form pure-form-aligned" method="POST">
                {%csrf_token%}
                <fieldset>
                    {{form.non_field_erros}}

                    {%for field in form%}
                    <div class="pure-control-group">
                        {{field.label_tag}}
                        {{field}}
                        {{field.erros}}
                    </div>
                    {%endfor%}

                    <div class="pure-control">
                        <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                    </div>
                </fieldset>
                </p>
            </form>
        </div>
    </div>
{%endblock%}
